<template>
<div>
  <p>{{ value }}</p>
  <button @click="increment">Increment</p>
</div>
</template>

<script>
export default {
  name: 'Counter',
  methods: {
      increment() {
          this.value++
      }
  },
}
</script>

test('increments correctly', () => {
  const incrementSpy = jest.spyOn(Counter.methods, 'increment')
  const wrapper = mount(Counter)
  wrapper.find('button').trigger('click')

  expect(incrementSpy).toHaveBeenCalled()
})