const myComponent = () => (
  <div>Hello World!</div>
)

function lessonTitle(title) {
  return document.createElement('span').setAttribute('text', title)
}

const fib = (n) => {
  if (n === 0 || n === 1) {
      return n
  }
  return fib(n-1) + fib(n-2)
}
