» deno task npm-build                                                                                                                  1 ↵
Task npm-build deno run --allow-env --allow-read --allow-net --allow-write --allow-run npm-build.ts
building version 0.0.1
[dnt] Transforming...
[dnt] Running npm install...

added 19 packages, and audited 20 packages in 484ms

found 0 vulnerabilities
[dnt] Building project...
[dnt] Type checking ESM...
src/main.ts:71:46 - error TS2322: Type 'number' is not assignable to type 'string'.

71   const scorecard = await fetchDataForUser({ username: 1, instance: 2 });
                                                ~~~~~~~~

  src/main.ts:27:5
    27     username: string;
           ~~~~~~~~
    The expected type comes from property 'username' which is declared here on type '{ instance: string; username: string; }'
src/main.ts:71:59 - error TS2322: Type 'number' is not assignable to type 'string'.

71   const scorecard = await fetchDataForUser({ username: 1, instance: 2 });
                                                             ~~~~~~~~

  src/main.ts:26:5
    26     instance: string;
           ~~~~~~~~
    The expected type comes from property 'instance' which is declared here on type '{ instance: string; username: string; }'

error: Uncaught (in promise) Error: Had 2 diagnostics.
          throw new Error(`Had ${diagnostics.length} diagnostics.`);
                ^
    at getProgramAndMaybeTypeCheck (https://deno.land/x/dnt@0.38.1/mod.ts:456:17)
    at build (https://deno.land/x/dnt@0.38.1/mod.ts:345:17)
    at eventLoopTick (ext:core/01_core.js:183:11)
    at async file:///Users/doug/code/lemmy-scorecard/npm-build.ts:11:1