{
  "$schema": "https://turbo.build/schema.json",
  "pipeline": {
    "build": {
      "dependsOn": ["^build"],
      "outputs": ["dist"],
      "inputs": ["web-resources/**/*.js", "web-resources/**/*.css"]
    },
    "lint": {}
  }
}
