import type { Meta } from '@storybook/react';

import { Button } from './Button';

const meta: Meta<typeof Button> = {
  component: Button,
  argTypes: {
    variant: { control: 'select', options: ['primary', 'secondary', 'tertiary'] },
    label: { control: 'text' }
  },
};

export default meta;
type Story = StoryObj<typeof Button>;

export const Default: Story = {
    render({ label, variant }) {
        return <Button label={label} variant={variant} />
    }
}
